{% load render_bundle from webpack_loader %}
<!DOCTYPE html>

<html>
 <head>
   <meta charset="UTF-8">
   <title>changes</title>
 </head>
 <body>
     <h1>Questions</h1>
     <div>{{ props|safe }}</div>
     <div id="react"></div>

     <script>
       window.props = {{ props|safe }};
       window.react_mount = document.getElementById('react');

     </script>

     {% render_bundle 'question' %}
 </body>
{% comment %}
<body>
  <h1>Questions</h1>
  <div>{{ props|safe }}</div>
  <div id="react"></div>
  <script>
    window.props = {{ props|safe }};
    window.react_mount = document.getElementById('react');

  </script>


 </body>
{% endcomment %}
</html>
